.message {
    position: fixed;
    top: 3em;
    width: 50%;
    margin-left: 50%;
    left: -25%;
    z-index: 10;
    background-color: #fff;
    border: 3px solid #DD6E42;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
}

.header-message {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.header-message button {
    padding: .3em .8em;
    cursor: pointer;
}

.message p {
    font-size: 1.2em;
}